<div class="text-center bg-info vh-100" *ngIf="!getLogin()">
  <h1>Gestion les contrats</h1>
  <form class="was-validated m-5 border border-warning bg-warning rounded-4">
    <div class="custom-control mb-3">
      <label class="custom-control-label m-2" for="customControlValidationNom" for="username">Utilisateur:</label><br>
      <input class="custom-control-input" id="customControlValidationNom" required type="text" id="username" name="username" [(ngModel)]="nom"><br>
      <div class="text-danger" *ngIf="erreurPourNom">Nom d'utiliateur n'existe pas</div>
    </div>
    <div class="was-validated mb-3">
      <label class="custom-control-label m-2" for="customControlValidationMotDePasse" for="motdepasse">Mot de passe:</label><br>
      <input class="custom-control-input" id="customControlValidationMotDePasse" required type="text" id="motdepasse" name="motdepasse" [(ngModel)]="motDePasse"><br><br>
      <div class="text-danger" *ngIf="erreurPourMotDePasse">Mot de passe invalide</div>
    </div>

    <input class="btn btn-info text-light mb-5" type="submit" value="Submit" (click)="getUtilisateur()">
    <a routerLink="/creerutilisateur" class="btn btn-link mb-5">Créer un utilisateur</a>
  </form>
</div>
<app-menu *ngIf="getLogin()"></app-menu>
