<div class="bg-warning vh-100">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <h1 class="col-4">{{nomCourant}}</h1>
        <div class="col-6"></div>
        <button class="col-1 m-2 btn btn-info text-light" (click)="deconnecter()">Deconnecter</button>
      </div>
    </div>
  </nav>
  <div class="btn-group-vertical position-absolute top-50 start-50 translate-middle">
    <button class="m-3 btn btn-info text-light">Les contrats</button>
    <button class="m-3 btn btn-info text-light">Les contrats expirants</button>
    <button class="m-3 btn btn-info text-light">Creer un nouveau contrat</button>
  </div>
</div>

