<div class="container-fluid text-center bg-info vh-100">
  <h1>Créer un compte</h1>
  <form class="was-validated m-5 border border-warning bg-warning rounded-4">
    <div class="text-danger" *ngIf="erreurDeUnique">Nom ou courriel n'est pas unique</div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h5>Nom :</h5>
        <div class="input-group mb-3 mt-2">
          <input class="form-control" type="text" required name="nom" [(ngModel)]="nom">
        </div>
        <div class="text-danger" *ngIf="erreurPourNom">Nom invalide</div>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h5>Courriel :</h5>
<!--        <div class="input-group mb-3 mt-2">-->
<!--          <input class="form-control" type="email" required name="username" [(ngModel)]="courriel">-->
<!--        </div>-->
        <div class="input-group mb-3 mt-2">
          <input type="email" class="form-control" required aria-describedby="basic-addon2" name="courriel" [(ngModel)]="courriel">
          <div class="input-group-append">
            <span class="input-group-text bg-warning border-dark" id="basic-addon2">.com</span>
          </div>
        </div>
        <div class="text-danger" *ngIf="erreurPourCourriel">Courriel invalide</div>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h5>Mot de passe:</h5>
        <div class="input-group mb-3 mt-2">
          <input class="form-control" type="{{hide?'password' : 'text'}}" required
                 id="customControlValidationMotDePasse"
                 aria-describedby="button" name="motDePasse" [(ngModel)]="motDePasse">
          <button class="btn btn-outline-secondary border-dark text-dark" type="button" id="button" (click)="hide = !hide">
            {{hide ? "show" : "hide" }}</button>
        </div>
        <div class="text-danger" *ngIf="erreurPourMotDePasse">Mot de passe invalide</div>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h5>Vérifier mot de passe :</h5>
        <div class="input-group mb-3 mt-2">
          <input class="form-control" type="{{hide?'password' : 'text'}}" required
                 name="verifierMotDePasse" [(ngModel)]="verifierMotDePasse">
          <button class="btn btn-outline-secondary border-dark text-dark" type="button" (click)="hide = !hide">
            {{hide ? "show" : "hide" }}</button>
        </div>
        <div class="text-danger" *ngIf="erreurPourVerifierMotDePasse">Vérifier mot de passe invalide</div>
      </div>
      <div class="col-3"></div>
    </div>

    <input class="btn btn-info text-light mb-5" type="submit" value="Créer mon compte" (click)="postUtilisateur()">
    <a routerLink="/" class="btn btn-link mb-5">Retourne</a>
  </form>
</div>
